img.card-pod-img-top.img-fluid {

    border-radius: 20px;
    // width: 149px !important;
    // height: 165px !important;
    object-fit: cover;
    width: 85% !important;
 


}

.podcaster-name{
color: #524779;
font-size: 1.9em;
}

