.title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -10px; /* Adjust spacing as needed */
margin-top: 50px;

  }.conta-title{
    min-height: 100vh;
  
  }
 
  .main-title{
    color: #542779;
    margin: 10px 2px;
    font-size: 1.5em;

  }